name: camping_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  shared_preferences: ^2.2.2
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  # --- TAMBAHAN: Library pembuat icon ---
  flutter_launcher_icons: ^0.13.1 

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    # Folder icon tidak perlu didaftarkan di sini karena hanya dipakai saat build,
    # tapi tidak masalah jika tidak dimasukkan.

# --- TAMBAHAN: Konfigurasi Icon ---
flutter_launcher_icons:
  android: "ic_launcher"
  ios: true
  image_path: "assets/icon/icon.png" # Pastikan nama file kamu icon.png
  min_sdk_android: 21